.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    min-width: 200px;
    max-width: 90vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}
.todo p{
    font: 1rem;
    margin: 0;
    flex: 1;
}
.todo button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: #eee;
    border: 1px solid #999;
}
.completed{
    text-decoration: line-through;
}