body {
  margin: 0;
  background:linear-gradient( 45deg , rgb(58, 165, 26) , rgb(31, 188, 194));
  min-height: 100vh;
}
*{
  caret-color: rgb(58, 165, 26);
  box-sizing: border-box;
}
*::selection{
  background-color: rgb(31, 188, 194);
  color: white;
}

